.cards__image_icon-circle_cards-attention {
  background-image: url(../../../../../images_sprint-2/cards-attention.png);
}

.cards__image_icon-circle_cards-recall {
  background-image: url(../../../../../images_sprint-2/cards-recall.png);
}

.cards__image_icon-circle_cards-interliving {
  background-image: url(../../../../../images_sprint-2/cards-interliving.png);
}

.cards__image_icon-circle_cards-question {
  background-image: url(../../../../../images_sprint-2/cards-question.png);
}

.cards__image_icon-circle_cards-competence {
  background-image: url(../../../../../images_sprint-2/cards-competence.png);
}
